{% assign imgName = include.tech %}
{% if include.imgName %}
    {% assign imgName = include.imgName %}
{% endif %}

{% assign hideName = true %}
{% if include.hideName %}
    {% assign hideName = false %}
{% endif %}

{% assign extension = "png" %}
{% if include.extension %}
    {% assign extension = include.extension %}
{% endif %}

<div style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px;">
    <a href="{{ include.link }}" target="_blank">
        <img src="/images/logos/{{ imgName }}.{{ extension }}" alt="{{ include.tech }}" style="height: 60px;"/>
        {% if hideName %}
        <span style="font-size: 24px;">{{ include.tech }}</span>
        {% endif %}
    </a>
</div>