<a class="thumbnail" href="{{ blog.website }}" target="_blank" style="text-decoration: none; color: #152933">
    
    <div style="display: flex;">
        <img src="/images/medium.png" alt="Medium" style="height: 44px; visibility: hidden">
        <h2 style="flex: 1">{{ blog.title | escape }}</h2>
        <img src="/images/medium.png" alt="Medium" style="height: 44px">
    </div>
    
    <h4>
        {{ blog.description }}
    </h4>
    
    {% if blog.image %}
    <div style="height: 160px;line-height: 160px;">
        <img src="{{ blog.image }}" alt="{{ blog.title }}">
    </div>
    {% endif %}
    
    {% if blog.pub_logo %}
    <div>
        <img src="{{ blog.pub_logo }}" alt="{{ blog.pub_logo }}" style="width: 100%;">
    </div>
    {% endif %}
    
</a>