{% assign imgName = include.tech %}
{% if include.imgName %}
    {% assign imgName = include.imgName %}
{% endif %}

{% assign hideName = true %}
{% if include.hideName %}
    {% assign hideName = false %}
{% endif %}

{% assign extension = "png" %}
{% if include.extension %}
    {% assign extension = include.extension %}
{% endif %}

<a href="{{ include.link }}" target="_blank" style="margin-right: 20px">
    <img src="/images/logos/{{ imgName }}.{{ extension }}" height="100"/>
    {% if hideName %}
    <span>{{ include.tech }}</span>
    {% endif %}
    <span class="glyphicon glyphicon-new-window"></span>
</a>