<a class="thumbnail" href="{{ project.url | relative_url }}" style="text-decoration: none; color: #152933">
    
    <h2>{{ project.title | escape }}</h2>
    
    <h4>
        {{ project.description }}
    </h4>
    
    {% if project.thumb_image %}
    <div class="thumb-img">
        <img src="{{ project.thumb_image }}" alt="{{ project.title }}">
    </div>
    {% elsif project.image %}
    <div class="thumb-img">
        <img src="{{ project.image }}" alt="{{ project.title }}">
    </div>
    {% endif %}
    
    {% if project.website %}
    <p>
        <br>
        <a href="{{ project.website }}" target="_blank">{{ project.website }}</a>
    </p>
    {% endif %}
    
</a>