<div class="thumbnail">
    
    <h2>
        <a class="post-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
    </h2>
    
    <h4>
        {{ project.description }}
    </h4>
    
    {% if project.image %}
    <div style="height: 160px;line-height: 160px;">
        <img src="{{ project.image }}">
    </div>
    {% endif %}
    
    {% if project.website %}
    <p>
        <br>
        <a href="{{ project.website }}" target="_blank">{{ project.website }}</a>
    </p>
    {% endif %}
    
</div>