$demo-img-height: 200px;
$header-bg-color: #152933;
$header-text-color: white;

.project {
  
  padding: 20px;
  
  h1, h2, h3 {
    text-align: center;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  img {
    max-width: 100%;
  }
  
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .larger-icon > svg {
    width: 28px;
    height: 28px;
  }
  
  .username {
    margin-left: 6px;
    font-size: 24px;
  }
  
  blockquote {
    letter-spacing: normal;
  }
  
  .video-containter {
    position: relative;
    padding-top: 56.25%;
    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
}