.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin: 0;
}

