@import "tailwindcss";

@theme {
  --color-background-primary: #0f172a;
  --color-text-primary: #e2e8f0;
  --color-text-secondary: #94a3b8;
  --color-text-link: rgb(94 234 212);

  --font-family-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --text-heading-1: 3rem;
  --text-heading-1--line-height: 3rem;
  
  --text-heading-2: 1.25rem;
  --text-heading-2--line-height: 1.75rem;
  
  --text-body: 1rem;
  --text-body--line-height: 1.5rem;
  
  --text-nav: 1rem;
  --text-nav--line-height: 1.625rem;

  --spacing-18: 4rem;
  --spacing-24: 6rem;
  --spacing-30: 7.5rem;
  --spacing-100: 25rem;
}

@layer base {
  body {
    font-family: var(--font-family-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }

  a {
    color: var(--color-text-primary);
    &:hover {
      color: var(--color-text-link);
    }
  }
}
