---
layout: default
---
<div class="project container">
  
  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  
  <div>
    <p class="center">
      {{ page.long_description }}
    </p>
    
    {{ content }}
    
    {% if page.repo %}
    <br/>
    <br/>
    <p style="display: flex; justify-content: center;">
      <a href="https://github.com/{{ page.repo }}" target="_blank">
        <span class="icon brands fa-github"></span>
        <span class="username">Source Code</span>
      </a>
    </p>
    {% endif %}
    
  </div>

</div>